@charset "utf-8";

$gray: #555555;
$red: #ff3333;
$blue: #242f9b;
$white: #ffffff;
$body-width: 80px;
$body-height: 40px;

.edit-list {
  width: 1000px;
  margin: 0 auto;
}

.edit-list-form {
  color: $gray;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: $red;
  border: solid 1px $red;
  width: $body-width;
  height: $body-height;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: $blue;
  color: $white;
  width: $body-width;
  height: $body-height;
  border-radius: 5px;
}

.error-message {
  color: $red;
}
