@charset "utf-8";

$gray: #555555;
$red: #ff3333;
$blue: #242f9b;
$white: #ffffff;
$body-width: 80px;
$body-height: 40px;

.new-task {
  width: 1000px;
  margin: 0 auto;
}

.new-task-form {
  color: $gray;
}

.new-task-select-list,
.new-task-title,
.new-task-detail {
  width: 300px;
  margin-bottom: 25px;
}

.new-task-detail {
  height: 200px;
}

.new-task-button {
  background-color: $blue;
  color: $white;
  width: $body-width;
  height: $body-height;
  border-radius: 5px;
}

.error-message {
  color: $red;
}
